 @font-face {
            font-family: 'blackfont'; 
            src: url('../css/Nimbus\ Sans\ Black.otf') format('woff2'),
                 url('../css/Nimbus\ Sans\ Black.otf') format('woff');
 }

 @font-face {
            font-family: 'condblack'; 
            src: url('../css/Nimbus\ Sans\ Cond\ L\ Black.otf') format('woff2'),
                 url('../css/Nimbus\ Sans\ Cond\ L\ Black.otf') format('woff');
 }

html {
    background-color: black;
    font-family: condblack;
    color: white;
}
body {
    margin: 0;    
}

.container {
    max-width: 1080px;
    max-height: 1920px;
    height: 1920px;
    margin-left: auto;
    margin-right: auto;
    z-index: -2;
    scroll-snap-type: y mandatory;
}

#logodiv {
    width: 100px;
}

.logo {
    position: relative;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    z-index: 20;
    box-shadow: 1px 1px 20px black;
    pointer-events: none;
}

.video {
    position: absolute;
    top: 0;
    z-index: -1;
    pointer-events: none;
}

.tekst {
    position: absolute;
    background-color: black;
    top: 1150px;
    margin-left: 380px;
    width: 500px;
    padding: 20px;
}

#tekst1 {
    line-height: 100px;  
    font-size: 110px;

}

.tekst2 {
    float: right;
    margin-top: 20px;
    position: absolute;
    background-color: black;
    font-size: 100px;
    text-align: center;
    width: 430px;
    left: 110px;
    text-shadow: 0px 0px  rgb(11, 202, 11) ;
    font-size: 80px;  
    letter-spacing: 3px;

   
}



@keyframes shadow {
0% {
    /* text-shadow: 0px 0px  rgb(11, 202, 11); */
    /* rotate: 5deg; */
    bottom: 1%;
}

50% {
    /* text-shadow: 0px 8px  rgb(11, 202, 11); */
    /* rotate: -5deg; */
    bottom: 3%;
}

100% {
    /* text-shadow: 0px 0px  rgb(11, 202, 11); */
    /* rotate: 5deg; */
    bottom: 1%;
}
    
}

.meerinfo {
    text-decoration: none;
    color: white;
}

.arrow {
    position: absolute;
    animation: shadow 3.5s ease-in-out infinite;
    animation-fill-mode: forwards;
    font-size: 120px;
    bottom: 20px;
    left: 50%;
    text-shadow: 0px 4px  rgb(11, 202, 11);
    transform: translate(-50%);
}

::-webkit-scrollbar {
    display: none;
}
