:root{
    --Audiovisuele-Media-Kleur: rgb(255, 221, 0);
    --Media-Management-Kleur: rgb(245, 156, 0);
    --Mediavormgeven-Kleur: rgb(228, 4, 40);
    --Redactiemedewerker-Kleur: rgb(231, 49, 136);
    --Creative-Productie-Kleur: rgb(120, 63, 145);
    --Mediatechnologie-Kleur: rgb(0, 99, 175);
    --podium-En-Evenemententechniek-Kleur: rgb(45, 184, 197);
}

 @font-face {
            font-family: 'blackfont'; 
            src: url('../media/Nimbus\ Sans\ Black.otf') format('woff2'),
                 url('../media/Nimbus\ Sans\ Black.otf') format('woff');
 }

 @font-face {
            font-family: 'condblack'; 
            src: url('../media/fonts/Nimbus\ Sans\ Cond\ L\ Black.otf') format('woff2'),
                 url('../media/fonts/ Sans\ Cond\ L\ Black.otf') format('woff');
 }