body {
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    font-family: condblack;
}

.header {

    font-size: 4em;
    width: 100vw;
    height: 405px;
    color: white;
    position: absolute;
    background-color: var(--Mediavormgeven-Kleur);
}

.opleidingTitel {
    line-height: 100px;
    margin: 15% 7.5% 0;
}

.icons {
    color: black;
    position: absolute;
    top: 25%;
}

.headerLogo {
    position: absolute;
    top: 10%;
    right: 5%;
    height: 60%;
}

.banner {
    color: white;
    font-size: 15px;
    font-family: Arial;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    background-color: #000;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    margin-bottom: 0%;
}

.onderwerp {
    position: absolute;
    top: 28%;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 0;
}
.onderwerp h2{
    line-height: 3em;
    font-size: 3.5em;

}
.onderwerp p{
    font-size: 1.75em;
}
.mv {
    color: var(--Mediavormgeven-Kleur);
}