body {
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    font-family: condblack;
}

.header {

    font-size: 3.7em;
    width: 100vw;
    color: white;
    position: absolute;
    background-color: var(--Mediavormgeven-Kleur);
}

.opleidingTitel {
    line-height: 100px;
    margin: 15% 7.5% 0;
}

.icons {
    color: black;
    position: absolute;
    top: 25%;
}

.headerLogo {
    position: absolute;
    top: 10%;
    right: 12%;
    height: 50%;
}

.banner {
    color: white;
    font-size: 15px;
    font-family: Arial;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    background-color: #000;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    margin-bottom: 0%;
    text-align: center;
}

.onderwerp {
    position: absolute;
    top: 27%;
    width: 75%;
    left: 50%;

    transform: translate(-50%);
    margin-top: 0;
}
.onderwerp h2{
    line-height: 1em;
    font-size: 3.5em;
    margin-bottom: 0%;

}
.onderwerp p{
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif!important;
    font-weight: 600;
    font-size: 1.75em;
}
.text-foto{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    font-size: 1.2em;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: auto auto;
    width: 75%;
}
.text-foto img{
    width: 35vw;
    border: rgb(228, 4, 40) solid 10px;
}
.mv {
    color: var(--Mediavormgeven-Kleur);
}